<div class="list-group my-lg-5 mb-4">
  <div class="list-group-item  flex-column align-items-start active bg-dark border-dark">
    <div class="d-flex w-100 justify-content-between">
      <span class="mb-1"><img src="/svg/blogroll.svg" class="d-inline-block align-top mr-2">友情链接</span>
    </div>
  </div>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1 font-weight-bold">百度</h6>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1 font-weight-bold">阿里</h6>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1 font-weight-bold">腾讯</h6>
    </div>
  </a>
</div>
