/*header style*/

header {
  position: relative;
  z-index: 200;
}

header .logo {
  background-color: #367fa9;
  color: #fafafa;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  overflow: hidden;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 0 solid transparent;
  transition: all .3s ease-in-out;
}

header .logo-lg {
  display: block;
  width: 230px;
  font-size: 20px;
}

header .logo-mini {
  display: none;
  width: 50px;
  font-size: 15px;
}

header nav {
  min-height: 50px;
  background-color: #3c8dbc;
  margin-left: 230px;
}

header nav a:hover {
  text-decoration: none;
  background-color: #367fa9;
}

header nav .sidebar-toggle {
  color: #fafafa;
  font-family: fontAwesome;
  float: left;
  padding: 12px 15px;
  background-color: transparent;
  background-image: none;
}

header nav .sidebar-toggle::before {
  content: "\f0c9";
}

/*sidebar style*/

aside {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222d32;
  color: #fafafa;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 100;
  transition: transform .5s ease-in-out, width .5s ease-in-out;
  -webkit-transition: -webkit-transform .5s ease-in-out, width .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out, width .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out, width .5s ease-in-out;
}

aside section {
  padding-bottom: 10px;
  height: auto;
}

.sidebar .user-plane img {
  width: 64px;
  height: 64px;
}

.sidebar .sidebar-menu {
  list-style: none;
  overflow: hidden;
  font-size: 14px;
}

.sidebar .sidebar-menu .header {
  text-align: center;
  color: #4b646f;
  background-color: #1a2226;
}

.sidebar .sidebar-menu .fa {
  width: 20px;
}

.sidebar .sidebar-menu li a {
  display: block;
  padding: 12px 5px 12px 15px;
  color: #b8c7ce;
  text-decoration: none;
  border-left: 3px solid transparent;
  transition: all .3s ease;
}

.sidebar .sidebar-menu li a:hover {
  background-color: #1a2226;
  color: #fafafa;
  border-left: 3px solid #3c8dbc;
  outline: none;
  text-decoration: none;
}

.sidebar .sidebar-menu>li.active>a {
  background-color: #1a2226;
  color: #fafafa;
  border-left: 3px solid #3c8dbc;
}

/* content-warp style */

.content-warp {
  margin-left: 230px;
  background-color: #ecf0f5;
  min-height: 100%;
}

/* toggle class */

.collapse-warp header .logo-lg {
  display: none;
}

.collapse-warp header .logo-mini {
  display: block;
}
