/*header style*/
html,body {
  min-height: 100%;
  height: 100%;
  overflow: hidden
}

header {
  position: absolute;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo {
  background-color: #367fa9;
  color: #fafafa;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  overflow: hidden;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-bottom: 0 solid transparent;
}

header .logo-lg {
  display: block;
  width: 230px;
  font-size: 20px;
}

header nav {
  min-height: 50px;
  background-color: #3c8dbc;
  margin-left: 230px;
}

header nav a:hover {
  text-decoration: none;
  background-color: #367fa9;
}

header nav .sidebar-toggle {
  color: #fafafa;
  font-family: fontAwesome;
  float: left;
  padding: 13px 15px;
  background-color: transparent;
  background-image: none;
}

header nav .sidebar-toggle::before {
  content: "\f0c9";
}

header nav .sidebar-off {
  color: #fafafa;
  background-color: transparent;
  padding: 13px 30px;
  background-image: none;
}

/*sidebar style*/

aside {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222d32;
  color: #fafafa;
  padding-top: 50px;
  min-height: 100%;
  height: 100%;
  width: 230px;
  z-index: 100;
}

aside section {
  padding-bottom: 10px;
  height: auto;
}

.sidebar .user-plane img {
  width: 64px;
  height: 64px;
}

.sidebar .sidebar-menu {
  list-style: none;
  overflow: hidden;
  font-size: 14px;
}

.sidebar .sidebar-menu .header {
  text-align: center;
  color: #4b646f;
  background-color: #1a2226;
}

.sidebar .sidebar-menu .fa {
  width: 20px;
}

.sidebar .sidebar-menu li a {
  display: block;
  padding: 12px 5px 12px 15px;
  color: #b8c7ce;
  text-decoration: none;
  border-left: 3px solid transparent;
  transition: transform .3s ease-in-out, all .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out, all .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, all .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, all .3s ease-in-out;
}

.sidebar .sidebar-menu li a:hover {
  background-color: #1a2226;
  color: #fafafa;
  border-left: 3px solid #3c8dbc;
  outline: none;
  text-decoration: none;
}

/* active*/
.sidebar .sidebar-menu li.active a {
  background-color: #1a2226;
  color: #fafafa;
  border-left: 3px solid #3c8dbc;
}

.sidebar .sidebar-menu>li.active>a {
  background-color: #1a2226;
  color: #fafafa;
  border-left: 3px solid #3c8dbc;
  padding-left: 25px;
}

/* content-warp style */

.content-warp {
  margin-top: 50px;
  margin-left: 230px;
  background-color: #ecf0f5;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.content-warp .create-artical textarea, .create-artical input[type="text"] {
  font-size: 14px;
}

.content-warp .manage-artical .table td, .table th {
  vertical-align: middle;
}

/* transition */
header nav,.logo-lg,aside,.user-plane,.user-plane img,.sidebar-menu .header,.content-warp{
  transition: transform .5s ease-in-out, all .5s ease-in-out;
  -webkit-transition: -webkit-transform .5s ease-in-out, all .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out, all .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out, all .5s ease-in-out;
}


/* toggle class */

.collapse-warp header .logo-lg {
  width: 50px;
  padding: 0 !important;
}

.collapse-warp aside {
  width: 50px;
}

.collapse-warp .user-plane {
  margin-top: 10px;
  padding: 0 !important;
}

.collapse-warp .user-plane img{
  width: 35px;
  height: 40px;
}

.collapse-warp .user-plane p, .collapse-warp .sidebar-menu .header{
  display: none;
}

.collapse-warp header nav{
  margin-left: 50px;
}

.collapse-warp .content-warp {
  margin-left: 50px;
}
