body {
  background-image: url('/img/bg.png');
  background-attachment: fixed;
}

.posts {  /*文章列表样式*/
  column-count: 2;
}

.posts .card {
  transition: all ease  0.5s;
  -moz-transition: all ease  0.5s;
  /* Firefox 4 */
  -webkit-transition: all ease  0.5s;
  /* Safari 和 Chrome */
  -o-transition: all ease 0.5s;
  cursor: pointer;
}

.posts .card:hover {
  background-color: beige;
  box-shadow: silver 10px 10px 15px;
  transform: translateY(-10px);
}

.posts .card .digest {
  text-indent: 26px;
}

.post {  /*单篇文章样式*/
  /* border-color: rgba(0,0,0,.125); */
  background-color: beige;
}

.post .postContent .postContent-digest {
  text-indent: 28px;
  font-size: .8rem;
}

@media screen and (max-width: 767.98px) {
  .posts {
    column-count: 1;
  }
}
