body {
  background-image: url('/img/bg.png');
  background-attachment: fixed;
}

.card {
  transition: all ease  0.5s;
  -moz-transition: all ease  0.5s;
  /* Firefox 4 */
  -webkit-transition: all ease  0.5s;
  /* Safari 和 Chrome */
  -o-transition: all ease 0.5s;
  cursor: pointer;
}

.card:hover {
  background-color: beige;
  box-shadow: silver 10px 10px 15px;
  transform: translateY(-10px);
}
