<%- include('../components/header.ejs') %>
  <%- include('../components/navbar.ejs') %>
    <%- include('../components/sidebar.ejs', {active:active}) %>
      <div class="edit-account">

      </div>
<%- include('../components/footer.ejs') %>
