<%- include('../components/header.ejs') %>
<%- include('../components/navbar.ejs') %>
<%- include('../components/sidebar.ejs') %>
<div class="content-warp">
  <h1>标签</h1>
</div>
<%- include('../components/footer.ejs') %>
