<%- include('../components/header.ejs') %>
  <div style="width:500px;height:500px">
    123
  </div>
  <div style="width:500px;height:500px">
  123
</div>
<div style="width:500px;height:500px">
123
</div>
<div style="width:500px;height:500px">
123
</div>
<div style="width:500px;height:500px">
123
</div>
<div style="width:500px;height:500px">
123
</div>
<div style="width:500px;height:500px">
123
</div>
<%- include('../components/footer.ejs') %>
