<header>
  <a href="/signin/admin" class="logo float-left px-3"><b>Blog</b> Console</a>
  <nav class="navbar p-0">
    <a href="#" class="sidebar-toggle" role="button" data-toggle="push-menu">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>
