<header>
  <a href="/signin/admin" class="logo logo-lg float-left px-3"><b>Blog</b> Console</a>
  <a href="/signin/admin" class="logo logo-mini float-left"><b>Blog</b> C</a>
  <nav class="navbar p-0">
    <a href="#" class="sidebar-toggle" role="button" data-toggle="push-menu">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>
