<header>
  <a href="/admin" class="logo logo-lg float-left px-3"><b>Blog</b> Console</a>
  <nav class="navbar p-0">
    <a href="#" class="sidebar-toggle" role="button" data-toggle="push-menu">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a href="/posts" class="sidebarIcon">
      <i class="fa fa-home"></i>
    </a>
    <a href="/signout" class="sidebarIcon">
      <i class="fa fa-power-off"></i>
    </a>
  </nav>
</header>
<%- include('./notification.ejs') %>
