<aside>
  <section class="sidebar">
    <div class="user-plane text-center p-3">
      <img src="/img/pig.svg" alt="User Image">
      <p class="mb-1">Dalsen-Chung</p>
      <small class="font-italic"><i class="fa fa-circle text-success"></i> Online</small>
    </div>
  </section>
</aside>
