<aside>
  <section class="sidebar">
    <div class="user-plane text-center p-3">
      <img src="/img/pig.svg" alt="User Image">
      <p class="mb-1"><%= user.name %></p>
      <small class="font-italic">
        <i class="fa fa-circle text-success" aria-hidden="true"></i> Online
      </small>
    </div>
    <ul class="sidebar-menu mt-3 my-0 p-0">
      <li class="header p-1">Console Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>仪表盘</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          <span>轮播图</span>
        </a>
      </li>
      <li <%= active==='artical'?'class=active':'' %> >
        <a href="/admin/artical">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          <span>文章</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <span>标签</span>
        </a>
      </li>
      <li <%= active==='about'?'class=active':'' %>>
        <a href="/about/admin">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>关于</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-link" aria-hidden="true"></i>
          <span>友情链接</span>
        </a>
      </li>
      <li <%= active==='account'?'class=active':'' %>>
        <a href="/admin/account">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <span>账户</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
